<%= search_form_for @q, url: master_middle_index_path do |f| %>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label Master::Middle.human_attribute_name("name"), class: "col-form-label" %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-1 p-1">
      <%= f.submit t("common.search.submit"), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-2 p-1">
      <%= link_to t("common.search.clear"), master_middle_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>